.site-header{
  position: relative;
  box-sizing: border-box;
}
.site-header.fixed{
  position: fixed;
  top:0;
  left:0;
}
.site-header>.long-header{
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.site-header.fixed-top{
  width: clamp(500px, 100dvh, 1200px);
}


/* .site-header>.long-header>.hero-header{
  min-width:100dvw;
  min-height:100dvh;
  display: flex;
  flex-flow: row wrap;
} */
