
/* mobile screens */
.short-header{
  width:100dvw;
  height:clamp(60px, 10dvh, 100px);
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: baseline;
  justify-content: space-between;
  /* backdrop-filter: blur(10px);
  border:1px solid red; */
  /* margin:0;
  padding:0; */
}

@container (inline-size < 768){
  .short-header:after{
    content:"";
    background:rgba(0,0,0,.5);
    width:20dvw;
    height:100dvh;
  }
}

@container (inline-size > 768px) {
  .short-header{
    position: relative;
    z-index:9999;
    margin:1rem auto;
    width:80dvw;
    height:10dvh;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    backdrop-filter: blur(10px);
  }
}
