<!-- wp:template-part { "slug":"header/header", "tagName":"header", "className":"site-header" } /-->
<main>
  <section class="section store">
    <h2 class="section-header">Products</h2>
    <p class="section-tagline">here you can buy</p>
    <!-- wp:template-part { "slug":"woo-product", "tagName":"section", "className":"products container-fluid short" } /-->
  </section>
  <section class="section receipe">
    <h2 class="section-header">Rceipes</h2>
    <p class="section-tagline">made with <3 and some magic</p>
  </section>
  <section class="section aboutus">
    <h2 class="section-header">About Us</h2>
    <p class="section-tagline">StartUp</p>
  </section>
  <section class="section">
    <h2 class="section-header"></h2>
    <p class="section-tagline"></p>
  </section>
  <section class="section">
    <h2 class="section-header"></h2>
    <p class="section-tagline"></p>
  </section>
</main>
<footer>

</footer>
